<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>Enter</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Drow.Deng" />
    <meta name="description" content="WebPage Framework">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <link rel="icon" href="/img/Chrome.ico" type="image/x-icon" />
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>

    <!-- ToDo:
        1. Check Ball Size
        2. Check Velocity
        3. Create Room
        4. 
    -->

</head>
<body>
    <div id="app">
        <p v-text="Message"></p>
        <ul>
            <li v-for="(User,Index) in UserList" :key="Index">
                {{ User.Name }} : {{ User.Score}}
                <button v-if="Index == 0" class="beginBtn" @click="ClickBtn" v-text="BtnName"></button>
            </li>
        </ul>
        <div @click.prevent="ClickBall" id="ball"></div><br/>
    </div>

    <style>
        body{
            overflow:hidden;            
        }
        .user{
            width:400px;
            height:40px;
            font-size: 1rem;
            text-align: left;
        }
        .beginBtn{
            width:100px;
            height:40px;
        }

        #ball{
            margin:0;
            padding: 0;
            width:64px;
            height:64px;
            text-align: center;
            border-radius:80%;
            position: absolute;
            background-color:burlywood;
            animation: rotate 0.2s linear 0s normal none infinite ;
            -webkit-animation: rotate 0.2s linear 0s normal none infinite;
        }

        #ball:hover{
            width: 120px;
            height: 120px;
        }
    
        @-o-keyframes rotate{
            from{-o-transform:rotate(0deg)}
            to{-o-transform:rotate(360deg)}
        }
        @-ms-keyframes rotate{
            from{-ms-transform:rotate(0deg)}
            to{-ms-transform:rotate(360deg)}
        }
        @-moz-keyframes rotate{
            from{-moz-transform:rotate(0deg)}
            to{-moz-transform:rotate(360deg)}
        }
        @-webkit-keyframes rotate{
            from{-webkit-transform:rotate(0deg)}
            to{-webkit-transform:rotate(360deg)}
        }
    </style>

    <script>
        // Vue
        let _Vue = new Vue({
            el : '#app',
            data : {
                Self: null,
                UserList : [],
                GameMode : 1,   // 1 - Stop , 2 - Start, 3 - Wait
                BtnName: '开始游戏',
                Message:'等待开始...',
                Freezing:true,
            },
            methods:{
                ClickBall(){
                    if( this.Freezing )
                    {
                        console.log('Freezing');
                        return;
                    }

                    this.Freezing = true;
                    console.log('Click Ball');
                    _Sock.emit('C2S_ClickBall');
                },
                ClickBtn(){
                    if( this.Self.UId != this.UserList[0].UId )
                    {
                        alert('你不是黄蓉，你不会武功!');
                        return;
                    }

                    if( this.GameMode == 1 ) {
                        this.GameMode = 3;
                        _Sock.emit('C2S_StartGame');
                    }
                    else if( this.GameMode == 2 ){
                        this.GameMode = 3;
                        _Sock.emit('C2S_StopGame');
                    }
                    else alert('心急吃不了热豆腐!');
                }
            }
        });

        // Socket.io
        let _Sock = io.connect('http://192.168.1.12');
        _Sock.on('connect',()=>{
            console.log('Connected');

            ChangeName();
        })

        // Net Logic==============
        // Prompt ChangeName
        function ChangeName()
        {
            let _Name;
            while(!_Name)
            {
                _Name = prompt("服务连接成功,请输入您的名字","易哈哈");
                console.log('Input Name :' + _Name);
                if(!_Name)alert('你想闹哪样？要不要把你踢出去？');
                else{
                    _Sock.once('S2C_ChangeName',ResChangeName);
                    _Sock.emit('C2S_ChangeName',_Name);
                }
            }
        }

        // Response ChangeName
        function ResChangeName(data){
            if( 0 != data.ErrorCode ){
                alert(data.ErrorDes);
                ChangeName();
                return;
            }

            // EnterRoom
            _Sock.once('S2C_EnterRoom',ResEnterRoom);
            _Sock.on('BC_EnterRoom',BCEnterRoom);
            _Sock.on('BC_ExitRoom',BCExitRoom);
            _Sock.once('BC_StartGame',BCStartGame);
            _Sock.emit('C2S_EnterRoom');
        }

        // Response EnterRoom
        function ResEnterRoom(data){
            _Vue.Self = data.User;
            _Vue.UserList = data.UserList;
            console.log(data.UserList);
        }

        // Other EnterRoom
        function BCEnterRoom(data){
            let _Find = false;
            _Vue.UserList.forEach( _Element => {
                if( _Element.UId == data.UId){
                    _Find = true;
                    _Element = data;
                }
            });

            if( !_Find ) _Vue.UserList.push(data);
        }

        // Oter Exit Room
        function BCExitRoom(data){
            for( let i = 0 ; i < _Vue.UserList.length ; ++i ){
                if( _Vue.UserList[i].UId == data ){
                    _Vue.Message = _Vue.UserList[i].Name + ' Exit.';
                    _Vue.UserList.splice(i,1);
                    break;
                }
            }
        }

        // Start Game
        function BCStartGame(){
            _Vue.GameMode = 2;
            _Vue.Message = '游戏中...';
            _Vue.BtnName = '停止游戏';
            _Sock.once('BC_StopGame',BCStopGame);
            _Sock.on('BC_ClickBall',BCClickBall);
            StartMove();
        }

        // Stop Game
        function BCStopGame(){
            _Vue.GameMode = 1;
            _Vue.Message = '等待开始...';
            _Vue.BtnName = '开始游戏';
            _Sock.once('BC_StartGame',BCStartGame);
            StopMove();
        }

        // Click Ball
        function BCClickBall(data){
            // Add Score
            for( let i = 0 ; i < _Vue.UserList.length; ++ i ){
                if( _Vue.UserList[i].UId == data){
                    ++_Vue.UserList[i].Score;
                    _Vue.Message = _Vue.UserList[i].Name + ' Click Successfully.';
                    break;
                }
            }

            Init();
        }

        let _Ball = document.getElementById('ball');

        let _InitSpeed = 20;
        let _Speed = 0;
        let _Accelarate = -1;
        //let _Accelarate = 0;
        let _Interval = 20;
        let _XSpeed= 0;
        let _YSpeed= 0;
        let _Degree= 0;

        function RandomDir(){
            _Degree = Math.random() * Math.PI * 2;
        }

        function Center(){
            _Ball.style.left = parseInt(_Right/2) + "px";
            _Ball.style.top = parseInt(_Bottom/2) + "px";
        }

        function Velocity(){
            // Random 10 && --Speed
            _Speed += _Accelarate;
            if( _Speed <= 0 )
            {
                _Speed = 1;
                _Accelarate *= -1;
            }
            else if( _Speed > 100 )
            {
                _Speed = 500;
                _Accelarate *= -1;
            }

            _Degree += (Math.random() - 0.5) * Math.PI / 18;
            while( _Degree > Math.PI * 2)
                _Degree -= Math.PI * 2;
            while( _Degree < 0)
                _Degree += Math.PI * 2;

            _XSpeed = Math.cos(_Degree) * _Speed;
            _YSpeed = Math.sin(_Degree) * _Speed;
        }

        let _Radius = _Ball.clientWidth/2;
        let _Top = 0;
        let _Left = 0;
        let _Right =  window.innerWidth - _Radius * 2;
        let _Bottom =  window.innerHeight  - _Radius * 2;
        function Rebound(){
            // _Top = 0 + _Radius;
            // _Left = 0 + _Radius;
            // _Right =  window.innerWidth - _Radius;
            // _Bottom =  window.innerHeight  - _Radius;
            _Top = 0;
            _Left = 0;
            _Right =  window.innerWidth - _Radius * 2;
            _Bottom =  window.innerHeight  - _Radius * 2;

            let _XPos = _Ball.offsetLeft;
            let _YPos = _Ball.offsetTop;
            
            if( _XPos < _Left && _XSpeed < 0 )
            {
                _Degree = Math.PI - _Degree;
                Velocity();
            }
            else if( _XPos > _Right && _XSpeed > 0 ) 
            {
                _Degree = Math.PI - _Degree;
                Velocity();
            }
            if( _YPos < _Top && _YSpeed < 0 )
            {
                _Degree = Math.PI * 2 - _Degree;
                Velocity();
            }
            else if( _YPos > _Bottom && _YSpeed > 0 )
            {
                _Degree = Math.PI * 2 - _Degree;
                Velocity();
            }
        }              

        function Move(){
            // Pos
            let _XPos = Math.round(_Ball.offsetLeft + _XSpeed);
            let _YPos = Math.round(_Ball.offsetTop + _YSpeed);
            _Ball.style.left = _XPos + "px";
            _Ball.style.top = _YPos + "px";
            Rebound();
        }

        let Colors = [
            'greenyellow',
            'skyblue',
            'thistle',
            'tomato',
            'violet',
            'royalblue',
            'wheat',
            'burlywood'
        ]
        function RandomColor(){
            let iIndex = parseInt( Math.random() * Colors.length);
            _Ball.style.backgroundColor = Colors[iIndex];
        }

        // Ball Run
        function Freezing(){
            _Vue.Freezing = true;
            setTimeout( ()=>{_Vue.Freezing = false},1000 );
        }
        
        function Init(){
            // Direction
            RandomDir();

            // Speed
            _Speed = _InitSpeed;

            // XSpeed YSpeed
            Velocity();

            // Color
            RandomColor();

            // Freezing
            Freezing();
        }

        let _Handler = null;
        function StartMove(){
            Init();
            _Handler = setInterval( 'Move()',_Interval );
        }

        function StopMove(){
            if(_Handler){
                clearInterval(_Handler);
                _Handler = null;
            }
        }
        
        Center();

    </script>


</body>
</html>